h1 {
  text-align: center;
  font-size: 40;
  color: aquamarine;
  text-decoration: underline;
}

body {

  background-color: pink;
}

h3 {

  color: salmon;
  font-size: 30;


}

ul {
  color: salmon;
  font-size: 20;

}
ol {
  color: salmon;
  font-size: 20px;
}



p {

  color: aqua;

}
